* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.s-slider {
  position: relative;
  width: 50%;
  border: 5px solid black;
  overflow: hidden;
  margin: 0 auto;
}

.carousel-track {
  display: flex;
  flex-direction: row;
  position: relative;
  left: -100%;
  /* transition: transform 0.4s ease-in-out; */
}

.carousel-track img {
  max-width: 100%;
  
  object-fit: fill;
}

.slide {
  cursor: pointer;
  display: block;
  background: #ffcf47;
}

/* .shifting {
  transition: left 0.4s ease-in-out;
} */




#arrow-left,
#arrow-right {
  position: absolute;

  top: 50%;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 5px;
  margin-top: -20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
  text-align: center;
}

 

#arrow-left {
  left: 5%;
  font-size: 40px;
  color: black;
  opacity: 0.5;
  cursor: pointer;
}

#arrow-right {
  right: 5%;
  font-size: 40px;
  color: black;
  opacity: 0.5;
  cursor: pointer;
}


i.toggleRightArrow, i.toggleLeftArrow {
 
  display: none;
}
